/** The Magic **/
.btn-breadcrumb .btn:not(:last-child):after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid white;
    position: absolute;
    top: 50%;
    margin-top: -17px;
    left: 100%;
    z-index: 3;
}

.btn-breadcrumb .btn:not(:last-child):before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 17px solid transparent;
    border-bottom: 17px solid transparent;
    border-left: 10px solid rgb(173, 173, 173);
    position: absolute;
    top: 50%;
    margin-top: -17px;
    margin-left: 1px;
    left: 100%;
    z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
    padding: 6px 12px 6px 24px;
}

    .btn-breadcrumb .btn:first-child {
        padding: 6px 6px 6px 10px;
    }

    .btn-breadcrumb .btn:last-child {
        padding: 6px 18px 6px 24px;
    }

    /** Default button **/
    .btn-breadcrumb .btn.btn-default:not(:last-child):after {
        border-left: 10px solid #fff;
    }

    .btn-breadcrumb .btn.btn-default:not(:last-child):before {
        border-left: 10px solid #ccc;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):after {
        border-left: 10px solid #adadad;
    }

    .btn-breadcrumb .btn.btn-default:hover:not(:last-child):before {
        border-left: 10px solid #adadad;
    }

.btn-default:hover {
    background-color: #ebebeb !important;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9998;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.register {
    color: #23cbf1 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a {
    text-decoration: none !important;
}

.ad-text1 {
    font-family: "Sofia", sans-serif;
}
/* card  */
.shell {
    padding: 80px 0;
}

.wsk-cp-product {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    margin: 20px auto;
}

.wsk-cp-img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -khtml-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

    .wsk-cp-img img {
        width: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 6px;
    }

.wsk-cp-product:hover .wsk-cp-img {
    top: -40px;
}

    .wsk-cp-product:hover .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

.wsk-cp-text {
    padding-top: 150%;
}

.wsk-cp-product:hover .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}

.wsk-cp-text .title-product {
    text-align: center;
}

    .wsk-cp-text .title-product h5 {
        color: burlywood;
        font-size: 15px;
        font-weight: bold;
        margin: 15px auto;
        font-family: 'Roboto Slab', serif;
        width: 100%;
    }

.wsk-cp-text .description-prod p {
    margin: 0;
}
/* Truncate */
.wsk-cp-text .description-prod {
    text-align: center;
    width: 100%;
    height: 100px;
    overflow: hidden;
    font-family: 'Itim', cursive;
    margin-bottom: 15px;
}
.modal-body {
    font-family: 'Itim', cursive;
}
.model-text {
    color: wheat;
}
.card-footer {
    padding: 25px 0 5px;
    border-top: 1px solid #ddd;
    text-align: center;
    font-family: 'Itim', cursive;
    margin-bottom: 15px;
}

    .card-footer:after, .card-footer:before {
        content: '';
        display: table;
    }

    .card-footer:after {
        clear: both;
    }

    .card-footer .wcf-left {
        float: left;
    }

    .card-footer .wcf-right {
        float: right;
    }

.price {
    font-size: 18px;
    font-weight: bold;
}


.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active {
    text-decoration: none;
    color: #fff;
}

.red {
    color: #F44336;
    font-size: 22px;
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }

        .wsk-cp-product .wsk-cp-img {
            top: -40px;
        }

            .wsk-cp-product .wsk-cp-img img {
                box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            }

        .wsk-cp-product .wsk-cp-text .category > span {
            border-color: #ddd;
            box-shadow: none;
            padding: 11px 28px;
        }

        .wsk-cp-product .wsk-cp-text .category {
            margin-top: 0px;
        }
}


 
/* text  */

.span-p {
    font: 700 4em/1 "Oswald", sans-serif;
    letter-spacing: 0;
    /* Clip Background Image */

    background: url(https://www.tastingtable.com/img/gallery/ranking-32-ice-cream-flavors-from-worst-to-best/l-intro-1655317922.jpg) repeat-y;
    -webkit-background-clip: text;
    background-clip: text;
    /* Animate Background Image */

    -webkit-text-fill-color: transparent;
    -webkit-animation: aitf 20s linear infinite;
    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
}


/* Animate Background Image */

@-webkit-keyframes aitf {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}
